__pycache__

test/

terraform/terraform.tfvars
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform
terraform/.terraform.lock.hcl

app/config.yaml
app/app.zip
app/pokedex_venv